.form {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;    
    background-color: #eee;
    box-shadow: 2px 2px 8px rgb(82, 80, 80);
}

.form__fieldset {
    border: none;
}

.form__legend {
    margin: 0 auto;
}

.form__output {
    padding: 5px 5px 5px 0px;
}

.form__input {
    padding: 5px;
    margin-bottom: 20px;    
    width: 100px;
    height: 25px;
    background-color: #eee;
}

.form__select {
    margin-left: 25px;
    border: grey;
    background-color: #eee;

}