html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif; 
  background: #ccc; 
  background-image: url("../public/background_cantor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}